@import '../../styles/variables';

.timer-item {
  padding: 10px 20px 30px 20px;
  text-align: center;
  border: 1px solid darken($backgroundColor, 10);
  background-color: lighten($backgroundColor, 10);
  border-radius: 20px;
  color: $textColor;

  h1 {
    font-size: 30pt;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .timer-time {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30pt;
    font-size: 28pt;
    font-weight: bold;
    color: lighten($textColor, 10);
  }
  .timer-control {
    &.timer-reset {
      border: 1px solid darken($primaryColor2, 10);
      background-color: $primaryColor2;

      &:hover {
        background-color: $textColorLight;
        color: darken($primaryColor2, 10);
      }

      &:active {
        background-color: darken($primaryColor2, 10);
        color: $textColorLight;
      }
    }
  }

  &.expiring {
      color: $attentionColor;
      border-color: $attentionColor;
      background-color: lighten($attentionColor, 55);
    .timer-time {
      color: $attentionColor;
    }
  }

  &.expired {
      color: lighten($textColor, 20);
      .timer-time {
        font-size: 18pt;
        font-weight: lighter;
      }
  }

  &.active {
    background-color: lighten($primaryColor, 40);
    border-color: $primaryColor;
  }
}