@import '../../variables';

.timer-list {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .timer-item {
    display: inline-block;
    margin: 10px;

    flex-grow: 1;
    flex-basis: 300px
  }
}