@import 'variables';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  button, .btn {
    margin: 5px;
    padding: 10px;
    outline:none;
    border-radius: 6px;
    font-weight: bolder;
    width: 80px;
    border: 1px solid darken($primaryColor, 10);
    color: $textColorLight;
    background-color: $primaryColor;

    &:hover {
      background-color: $textColorLight;
      color: darken($primaryColor, 10);
    }

    &:active {
      background-color: darken($primaryColor, 10);
      color: $textColorLight;
    }
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
